<!DOCTYPE html>
<html lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Madplan</title>
</head>
<body>
    <h1> Forside til madplan</h1>
    <p>
        Vælg retter til den kommende uge og tryk på "Lav indkøbsliste".
    </p>
    <form action="/" method="POST">
        {% for dag in ["Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag", "Lørdag", "Søndag"] %}
        {{ dag }}: <input type="text" list={{dag}} name={{dag}}>
        <datalist id={{dag}}>
            {% for ret in data %}
            <option value={{ ret[0] }}>
            {% endfor %}
        </datalist><br>
        {% endfor %}
        <input type="submit" value="Lav indkøbsliste">
    </form>
    {% if valgte_retter %}
    <p>Hej</p>
    {% endif %}
</body>
</html>