<!DOCTYPE html>
<html lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Madplan</title>
</head>
<body>
    <h1> Forside til madplan</h1>
    <p>
        Vælg retter til den kommende uge og tryk på "Lav indkøbsliste".
    </p>
    <form>
        {% for dag in ["Mandag", "Tirsdag", "Onsdag", "Torsdag", "Fredag", "Lørdag", "Søndag"] %}
        {{ dag }}: <input list={{dag}} name={{dag}}>
        <datalist id={{dag}}>
            <option value="Kartofler og lakridser"></option>
            <option value="Lasagne"></option>
            <option value="Kartofler og vingummier"></option>
        </datalist><br>
        {% endfor %}
        <input type="submit" value="Lav indkøbsliste">
    </form>
</body>
</html>